body,html{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html{
  overscroll-behavior: none;
}
canvas{
  width: 100%;
  height: 100%;   
  // mask-type: luminance;   
}
svg{
  position: fixed;
  z-index:100;
  width: 100vw;
  height: 100vh;
}
.container{
  // -webkit-mask: url("#m");   
  mask: url("#myClip");
}
